:root{
    --generalMargin: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    background-color: #2F243A;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar>ul{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar>ul>li{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-right: var(--generalMargin);
    height: 100%;
    width: 100%;
    margin: 0;
    padding-right: var(--generalMargin);
    padding-left: var(--generalMargin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar>ul>li:hover{
    background-color: rgb(12, 92, 161);
}

.navbar>ul>li>a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: var(--generalMargin);
}

.navbar>ul>li>a:visited,
.navbar>ul>li>a:active,
.navbar>ul>li>a:link,
.navbar>ul>li>a:hover{
    color: white;
}

footer{
    width: 100%;
    background-color: #444054;
    color: white;
    padding: var(--generalMargin);
}

.container{
    padding: var(--generalMargin);
    background-color: #BEBBBB;
}

svg{
    width: var(--generalMargin);
}

tr{
    background-color: #FAC9B8;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #444054;
}

td, th{
    padding: 10px;
}

table{
    border-collapse: collapse;
    border: 2px solid #444054;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fac9b8;
}

td>form>button{
    font-size: 103%;
    color: black;
    background-color: #DB8A74;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

td>form>button:hover{
    background-color: #ffbd97;
}

td>a{
    text-decoration: none;
    color: black;
    background-color: #DB8A74;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

td>a:visited{
    background-color: #DB8A74;
    color: black;
}

td>a:hover{
    background-color: #ffbd97;
}
h6{
    /* margin-bottom: 0; */
}

.order{
    text-decoration: none;
    color: black;
    background-color: #DB8A74;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.order:hover{
    background-color: #ffbd97;

}

nav>.flex{
    display: none;
}

span>a{
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    margin:5px;
    border-radius: 5px;
}

span>span{
    color: blue;
    
}

div>p{
    display: none;
}